Repository kkhys/me: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint . --ext .ts,.tsx, tsc, prettier --write ., eslint . --ext .ts,.tsx --fix

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx}": [
    "eslint . --ext .ts,.tsx",
    "tsc",
    "prettier --write .",
    "eslint . --ext .ts,.tsx --fix"
  ],
  "**/*.{md,json,yml}": "prettier --write ."
}

fix(lint-staged): change commands
  .lintstagedrc.json
Due: prettier --write .

perf(husky): introduce
  .husky/pre-commit
  package.json
  yarn.lock
Due: prettier --write .

perf(semantic-release): introduce
  .github/workflows/release.yml
  package.json
  yarn.lock
Due: prettier --write .

fix(semantic-release): specify branch name
  .releaserc.json
Due: prettier --write .

fix(semantic-release): oops
  .releaserc.json
Due: prettier --write .

fix(package): add project name
  package.json
Due: prettier --write .

perf(commitlint): introduce
  .commitlintrc.json
  .husky/commit-msg
  package.json
  yarn.lock
Due: prettier --write .

perf(docker): add files to dockerignore
  .dockerignore
Due: none

perf(gitattributes): add new file
  .gitattributes
Due: none

docs(code-of-conduct): add new file
  CODE_OF_CONDUCT.md
Due: prettier --write .

docs(contributing): add new file
  CONTRIBUTING.md
Due: prettier --write .

docs(issue-template): update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier --write .

ci(codeql): first setup
  .github/workflows/codeql-analysis.yml
Due: prettier --write .

refactor(github): organize documents
  .github/documents/CODE_OF_CONDUCT.md
  .github/documents/CONTRIBUTING.md
  .github/documents/ISSUE_TEMPLATE/bug_report.md
  .github/documents/ISSUE_TEMPLATE/feature_request.md
Due: prettier --write .

style(codeql): code format
  .github/workflows/codeql-analysis.yml
Due: prettier --write .

docs(license): add new license
  CC-BY-NC-SA-4.0
Due: none

docs(readme): update content
  README.md
Due: prettier --write .

perf(emotion): introduce
  .idea/inspectionProfiles/Project_Default.xml
  gatsby-config.ts
  package.json
  tsconfig.json
  yarn.lock
Due: eslint . --ext .ts,.tsx, tsc, prettier --write ., eslint . --ext .ts,.tsx --fix

perf(emotion): set theme for emotion
  gatsby-node.ts
  package.json
  src/Layout/index.tsx
  src/theme.ts
  src/types/emotion.d.ts
  tsconfig.json
  yarn.lock
Due: eslint . --ext .ts,.tsx, tsc, prettier --write ., eslint . --ext .ts,.tsx --fix

fix(lint-staged): remove tsc
  .lintstagedrc.json
Due: prettier --write .

perf(eslint): add new plugin
  .eslintrc.json
  package.json
  yarn.lock
Due: prettier --write .

perf(gatsby-browser): add app-wide settings
  gatsby-browser.tsx
  src/Layout/index.tsx
  src/contexts/index.tsx
  src/pages/index.tsx
Due: eslint . --ext .ts,.tsx, tsc, prettier --write ., eslint . --ext .ts,.tsx --fix

perf(stylelint): introduce
  .lintstagedrc.json
  .stylelintrc.json
  package.json
  yarn.lock
Due: prettier --write .

perf(eslint): set import order
  .eslintrc.json
  .vscode/settings.json
  package.json
  yarn.lock
Due: prettier --write .

style(*): code format(order import)
  gatsby-browser.tsx
  gatsby-node.ts
  src/contexts/index.tsx
  src/pages/index.tsx
Due: eslint . --ext .ts,.tsx, tsc, prettier --write ., eslint . --ext .ts,.tsx --fix

fix(lint-staged): remove stylelint
  .lintstagedrc.json
  package.json
Due: prettier --write .

fix(layout): fix problem with html not building
  .storybook/main.js
  .storybook/preview.js
  gatsby-browser.tsx
  src/Layout/index.tsx
  src/components/atoms/Paragraph/index.stories.tsx
  src/components/atoms/Paragraph/index.tsx
  src/components/atoms/Paragraph/styles.ts
  src/components/atoms/index.ts
  src/contexts/Emotion.tsx
  src/contexts/index.ts
  src/layouts/Global.tsx
  src/layouts/index.ts
  src/pages/index.tsx
Due: eslint . --ext .ts,.tsx, tsc, prettier --write ., eslint . --ext .ts,.tsx --fix

perf(storybook): introduce (but it doesn't work)
  package.json
  src/components/atoms/Paragraph/index.stories.tsx
  yarn.lock
Due: eslint . --ext .ts,.tsx, tsc, prettier --write ., eslint . --ext .ts,.tsx --fix

feat(contents): add submodules
  .gitmodules
  .idea/vcs.xml
Due: none

perf(commitizen): introduce
  .czrc
  package.json
  yarn.lock
Due: prettier --write .

chore(node): setup version
  .node-version
Due: none

refactor(contents): remove submodules temporaly
  .gitmodules
Due: none

perf(submodule): set submodule again
  .gitmodules
Due: none

chore(idea): update settings
  .idea/codeStyles/Project.xml
  .idea/prettier.xml
Due: none

perf(graphql): add config file and generate schema
  .graphqlconfig
  me.graphql
Due: none

fix(graphql): oops
  .graphqlconfig
Due: none

perf(layout): add global css
  src/layouts/Global.tsx
Due: eslint . --ext .ts,.tsx, tsc, prettier --write ., eslint . --ext .ts,.tsx --fix

chore(gitignore): add me.graphql
  .prettierignore
Due: none
