Repository kkhys/me: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint . --ext .ts,.tsx, stylelint --ignore-path .gitignore "src/**/*.+(ts|tsx)", prettier --write ., eslint . --ext .ts,.tsx --fix

chore(stylelint): add new rules
  .stylelintrc.json
Due: prettier --write .

perf(gatsby): setup transformer-remark and source-filesystem
  gatsby-config.ts
  me.graphql
  package.json
  yarn.lock
Due: eslint . --ext .ts,.tsx, stylelint --ignore-path .gitignore "src/**/*.+(ts|tsx)", prettier --write ., eslint . --ext .ts,.tsx --fix

fix(gatsby): fix source-filesystem paths
  gatsby-config.ts
  me.graphql
Due: eslint . --ext .ts,.tsx, stylelint --ignore-path .gitignore "src/**/*.+(ts|tsx)", prettier --write ., eslint . --ext .ts,.tsx --fix

perf(gatsby node): add onCreateNode
  .idea/codeStyles/Project.xml
  gatsby-node.ts
Due: eslint . --ext .ts,.tsx, stylelint --ignore-path .gitignore "src/**/*.+(ts|tsx)", prettier --write ., eslint . --ext .ts,.tsx --fix

perf(types): introduce gatsby-plugin-typegen
  gatsby-config.ts
  package.json
  src/types/gatsby-types.d.ts
  yarn.lock
Due: eslint . --ext .ts,.tsx, stylelint --ignore-path .gitignore "src/**/*.+(ts|tsx)", prettier --write ., eslint . --ext .ts,.tsx --fix

chore(templates): add test files
  src/pages/indexTest.tsx
  src/templates/category.tsx
  src/templates/index.tsx
  src/templates/post.tsx
Due: eslint . --ext .ts,.tsx, stylelint --ignore-path .gitignore "src/**/*.+(ts|tsx)", prettier --write ., eslint . --ext .ts,.tsx --fix

fix(ts): change alias
  src/pages/indexTest.tsx
  tsconfig.json
Due: eslint . --ext .ts,.tsx, stylelint --ignore-path .gitignore "src/**/*.+(ts|tsx)", prettier --write ., eslint . --ext .ts,.tsx --fix

perf(gatsby-node): add code to generate html files from templates
  gatsby-node.ts
Due: eslint . --ext .ts,.tsx, stylelint --ignore-path .gitignore "src/**/*.+(ts|tsx)", prettier --write ., eslint . --ext .ts,.tsx --fix

chore(types): update types and add types file to gitignore
  .prettierignore
  src/types/gatsby-types.d.ts
Due: eslint . --ext .ts,.tsx, stylelint --ignore-path .gitignore "src/**/*.+(ts|tsx)", prettier --write ., eslint . --ext .ts,.tsx --fix

chore(gatsby-node): remove comment
  gatsby-node.ts
Due: eslint . --ext .ts,.tsx, stylelint --ignore-path .gitignore "src/**/*.+(ts|tsx)", prettier --write ., eslint . --ext .ts,.tsx --fix

chore(gatsby-node): add type
  gatsby-node.ts
Due: eslint . --ext .ts,.tsx, stylelint --ignore-path .gitignore "src/**/*.+(ts|tsx)", prettier --write ., eslint . --ext .ts,.tsx --fix

fix(context): remove emotion theme context
  src/contexts/Emotion.tsx
  src/contexts/index.ts
  src/layouts/Global.tsx
  src/pages/indexTest.tsx
Due: eslint . --ext .ts,.tsx, stylelint --ignore-path .gitignore "src/**/*.+(ts|tsx)", prettier --write ., eslint . --ext .ts,.tsx --fix

perf(gatsby-browser): setup wrapPageElemet
  gatsby-browser.tsx
  src/layouts/index.ts
  src/layouts/index.tsx
Due: eslint . --ext .ts,.tsx, stylelint --ignore-path .gitignore "src/**/*.+(ts|tsx)", prettier --write ., eslint . --ext .ts,.tsx --fix

chore(types): remove emotion theme types
  src/types/emotion.d.ts
Due: eslint . --ext .ts,.tsx, stylelint --ignore-path .gitignore "src/**/*.+(ts|tsx)", prettier --write ., eslint . --ext .ts,.tsx --fix

style(tsconfig): add libs
  tsconfig.json
Due: prettier --write .

fix(gatsby-node): fix warn of persistent state
  gatsby-node.ts
Due: eslint . --ext .ts,.tsx, stylelint --ignore-path .gitignore "src/**/*.+(ts|tsx)", prettier --write ., eslint . --ext .ts,.tsx --fix

perf(templates): test template
  src/templates/index.tsx
Due: eslint . --ext .ts,.tsx, stylelint --ignore-path .gitignore "src/**/*.+(ts|tsx)", prettier --write ., eslint . --ext .ts,.tsx --fix

chore(types): update
  src/types/gatsby-types.d.ts
Due: eslint . --ext .ts,.tsx, stylelint --ignore-path .gitignore "src/**/*.+(ts|tsx)", prettier --write ., eslint . --ext .ts,.tsx --fix

chore(graphql): update
  me.graphql
Due: none

refactor(templates): change file name
  gatsby-node.ts
  src/templates/Article/index.tsx
  src/templates/Category/index.tsx
  src/templates/New/index.tsx
  src/types/gatsby-types.d.ts
Due: eslint . --ext .ts,.tsx, stylelint --ignore-path .gitignore "src/**/*.+(ts|tsx)", prettier --write ., eslint . --ext .ts,.tsx --fix

refactor(layout): change file structure
  gatsby-browser.tsx
  me.graphql
  src/layouts/Composer/index.tsx
  src/layouts/Global/index.tsx
  src/layouts/index.ts
  src/layouts/index.tsx
  src/templates/New/index.tsx
Due: eslint . --ext .ts,.tsx, stylelint --ignore-path .gitignore "src/**/*.+(ts|tsx)", prettier --write ., eslint . --ext .ts,.tsx --fix

chore(package): install react-helmet
  package.json
  yarn.lock
Due: prettier --write .

chore(idea): update settings
  .idea/inspectionProfiles/Project_Default.xml
Due: none

perf(seo): add seo config
  gatsby-config.ts
  gatsby-node.ts
  src/components/atoms/SEO/index.tsx
  static/humans.txt
Due: eslint . --ext .ts,.tsx, stylelint --ignore-path .gitignore "src/**/*.+(ts|tsx)", prettier --write ., eslint . --ext .ts,.tsx --fix

chore(graphql): update schema
  me.graphql
Due: none

chore(theme): add color
  src/theme.ts
Due: eslint . --ext .ts,.tsx, stylelint --ignore-path .gitignore "src/**/*.+(ts|tsx)", prettier --write ., eslint . --ext .ts,.tsx --fix

refactor(seo): isolate objects
  src/components/atoms/SEO/index.tsx
Due: eslint . --ext .ts,.tsx, stylelint --ignore-path .gitignore "src/**/*.+(ts|tsx)", prettier --write ., eslint . --ext .ts,.tsx --fix

perf(gatsby config): add site meta data
  gatsby-config.ts
Due: eslint . --ext .ts,.tsx, stylelint --ignore-path .gitignore "src/**/*.+(ts|tsx)", prettier --write ., eslint . --ext .ts,.tsx --fix

perf(gatsby config): introduce gatsby-plugin-canonical-urls
  gatsby-config.ts
  package.json
  yarn.lock
Due: eslint . --ext .ts,.tsx, stylelint --ignore-path .gitignore "src/**/*.+(ts|tsx)", prettier --write ., eslint . --ext .ts,.tsx --fix

chore(static): add svg icons
  static/icons/404.svg
  static/icons/life.svg
  static/icons/new.svg
  static/icons/siteLogo.svg
  static/icons/tech.svg
  static/icons/twitter.svg
Due: none

chore(idea): change code styles
  .idea/codeStyles/Project.xml
Due: none

Path conditions:
  eslint . --ext .ts,.tsx: any of: **/*.{js,jsx,ts,tsx}
  stylelint --ignore-path .gitignore "src/**/*.+(ts|tsx)": any of: **/*.{js,jsx,ts,tsx}
  prettier --write .: (any of: **/*.{js,jsx,ts,tsx}) or (any of: **/*.{md,json,yml})
  eslint . --ext .ts,.tsx --fix: any of: **/*.{js,jsx,ts,tsx}
