Repository kkhys/me: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint . --ext .ts,.tsx, stylelint --ignore-path .gitignore "src/**/*.+(ts|tsx)", prettier --write ., eslint . --ext .ts,.tsx --fix

chore(types): update
  src/types/gatsby-types.d.ts
Due: eslint . --ext .ts,.tsx, stylelint --ignore-path .gitignore "src/**/*.+(ts|tsx)", prettier --write ., eslint . --ext .ts,.tsx --fix

chore(static): change file name
  static/icons/site-logo.svg
Due: none

perf(atoms): add container component
  src/components/atoms/Container/index.tsx
  src/components/atoms/Container/styles.ts
Due: eslint . --ext .ts,.tsx, stylelint --ignore-path .gitignore "src/**/*.+(ts|tsx)", prettier --write ., eslint . --ext .ts,.tsx --fix

perf(organism): add header component
  src/components/organisms/TheHeader/index.tsx
  src/components/organisms/TheHeader/styles.ts
  src/components/organisms/index.ts
Due: eslint . --ext .ts,.tsx, stylelint --ignore-path .gitignore "src/**/*.+(ts|tsx)", prettier --write ., eslint . --ext .ts,.tsx --fix

perf(theme): add some objects
  src/theme.ts
Due: eslint . --ext .ts,.tsx, stylelint --ignore-path .gitignore "src/**/*.+(ts|tsx)", prettier --write ., eslint . --ext .ts,.tsx --fix

chore(idea): update coding settings
  .idea/codeStyles/Project.xml
Due: none

chore(atoms,layouts): add export default
  src/components/atoms/index.ts
  src/layouts/index.ts
Due: eslint . --ext .ts,.tsx, stylelint --ignore-path .gitignore "src/**/*.+(ts|tsx)", prettier --write ., eslint . --ext .ts,.tsx --fix

chore(seo): change theme color
  src/components/atoms/SEO/index.tsx
Due: eslint . --ext .ts,.tsx, stylelint --ignore-path .gitignore "src/**/*.+(ts|tsx)", prettier --write ., eslint . --ext .ts,.tsx --fix

perf(types): add page context types
  src/types/index.d.ts
Due: eslint . --ext .ts,.tsx, stylelint --ignore-path .gitignore "src/**/*.+(ts|tsx)", prettier --write ., eslint . --ext .ts,.tsx --fix

refactor(layouts): separate styles
  src/layouts/Global/index.tsx
  src/layouts/Global/styles.ts
Due: eslint . --ext .ts,.tsx, stylelint --ignore-path .gitignore "src/**/*.+(ts|tsx)", prettier --write ., eslint . --ext .ts,.tsx --fix

perf(atoms): add anchor component
  src/components/atoms/Anchor/index.tsx
  src/components/atoms/index.ts
Due: eslint . --ext .ts,.tsx, stylelint --ignore-path .gitignore "src/**/*.+(ts|tsx)", prettier --write ., eslint . --ext .ts,.tsx --fix

perf(atoms): add paragraph component
  src/components/atoms/Paragraph/index.tsx
  src/components/atoms/Paragraph/styles.ts
Due: eslint . --ext .ts,.tsx, stylelint --ignore-path .gitignore "src/**/*.+(ts|tsx)", prettier --write ., eslint . --ext .ts,.tsx --fix

fix(eslint): resolve error in prop-types
  .eslintrc.json
Due: prettier --write .

chore(anchor): make class name configurable
  src/components/atoms/Anchor/index.tsx
Due: eslint . --ext .ts,.tsx, stylelint --ignore-path .gitignore "src/**/*.+(ts|tsx)", prettier --write ., eslint . --ext .ts,.tsx --fix

chore(paragraph): make class name configurable
  src/components/atoms/Paragraph/index.tsx
Due: eslint . --ext .ts,.tsx, stylelint --ignore-path .gitignore "src/**/*.+(ts|tsx)", prettier --write ., eslint . --ext .ts,.tsx --fix

chore(package): disable stylelint
  package.json
Due: prettier --write .

refactor(pages): remove test page
  src/pages/indexTest.tsx
Due: eslint . --ext .ts,.tsx, stylelint --ignore-path .gitignore "src/**/*.+(ts|tsx)", prettier --write ., eslint . --ext .ts,.tsx --fix

perf(organisms): add footer component
  src/components/organisms/TheFooter/index.tsx
  src/components/organisms/TheFooter/styles.ts
  src/components/organisms/index.ts
Due: eslint . --ext .ts,.tsx, stylelint --ignore-path .gitignore "src/**/*.+(ts|tsx)", prettier --write ., eslint . --ext .ts,.tsx --fix

chore(theme): update global theme
  src/layouts/Global/styles.ts
  src/theme.ts
Due: eslint . --ext .ts,.tsx, stylelint --ignore-path .gitignore "src/**/*.+(ts|tsx)", prettier --write ., eslint . --ext .ts,.tsx --fix

chore(types): auto update
  src/types/gatsby-types.d.ts
Due: eslint . --ext .ts,.tsx, stylelint --ignore-path .gitignore "src/**/*.+(ts|tsx)", prettier --write ., eslint . --ext .ts,.tsx --fix

style(eslint): disable no-nested-ternary
  .eslintrc.json
Due: prettier --write .

feat(molecules): add category menu components
  src/components/molecules/CategoryMenu/index.tsx
  src/components/molecules/CategoryMenu/styles.ts
  src/components/molecules/index.ts
Due: eslint . --ext .ts,.tsx, stylelint --ignore-path .gitignore "src/**/*.+(ts|tsx)", prettier --write ., eslint . --ext .ts,.tsx --fix

build(package): add twemoji
  package.json
  yarn.lock
Due: prettier --write .

chore(theme): add new color
  src/theme.ts
Due: eslint . --ext .ts,.tsx, stylelint --ignore-path .gitignore "src/**/*.+(ts|tsx)", prettier --write ., eslint . --ext .ts,.tsx --fix

style(eslint): disable no-danger
  .eslintrc.json
Due: prettier --write .

feat(organisms): add article card component
  src/components/organisms/ArticleCard/index.tsx
  src/components/organisms/ArticleCard/styles.ts
  src/components/organisms/index.ts
Due: eslint . --ext .ts,.tsx, stylelint --ignore-path .gitignore "src/**/*.+(ts|tsx)", prettier --write ., eslint . --ext .ts,.tsx --fix

fix(article card): remove console.log
  src/components/organisms/ArticleCard/index.tsx
Due: eslint . --ext .ts,.tsx, stylelint --ignore-path .gitignore "src/**/*.+(ts|tsx)", prettier --write ., eslint . --ext .ts,.tsx --fix

fix(category menu/article card): fix styling
  src/components/molecules/CategoryMenu/index.tsx
  src/components/molecules/CategoryMenu/styles.ts
  src/components/organisms/ArticleCard/index.tsx
  src/theme.ts
Due: eslint . --ext .ts,.tsx, stylelint --ignore-path .gitignore "src/**/*.+(ts|tsx)", prettier --write ., eslint . --ext .ts,.tsx --fix

chore(graphql): update schema
  me.graphql
Due: none

feat(molecules): add category badge component
  src/components/molecules/CategoryBadge/index.tsx
  src/components/molecules/CategoryBadge/styles.ts
  src/components/molecules/index.ts
  src/utils/color.ts
Due: eslint . --ext .ts,.tsx, stylelint --ignore-path .gitignore "src/**/*.+(ts|tsx)", prettier --write ., eslint . --ext .ts,.tsx --fix

fix(category badge): add link condition
  src/components/molecules/CategoryBadge/index.tsx
Due: eslint . --ext .ts,.tsx, stylelint --ignore-path .gitignore "src/**/*.+(ts|tsx)", prettier --write ., eslint . --ext .ts,.tsx --fix

fix(category badge): fix styles
  src/components/molecules/CategoryBadge/styles.ts
Due: eslint . --ext .ts,.tsx, stylelint --ignore-path .gitignore "src/**/*.+(ts|tsx)", prettier --write ., eslint . --ext .ts,.tsx --fix

Path conditions:
  eslint . --ext .ts,.tsx: any of: **/*.{js,jsx,ts,tsx}
  stylelint --ignore-path .gitignore "src/**/*.+(ts|tsx)": any of: **/*.{js,jsx,ts,tsx}
  prettier --write .: (any of: **/*.{js,jsx,ts,tsx}) or (any of: **/*.{md,json,yml})
  eslint . --ext .ts,.tsx --fix: any of: **/*.{js,jsx,ts,tsx}
