Repository kkhys/me: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint . --ext .ts,.tsx, stylelint --ignore-path .gitignore "src/**/*.+(ts|tsx)", prettier --write ., eslint . --ext .ts,.tsx --fix

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx}": [
    "eslint . --ext .ts,.tsx",
    "stylelint --ignore-path .gitignore \"src/**/*.+(ts|tsx)\"",
    "prettier --write .",
    "eslint . --ext .ts,.tsx --fix"
  ],
  "**/*.{md,json,yml}": "prettier --write ."
}

feat(pagination): add new component
  package.json
  src/components/category/CategoryPagination/index.tsx
  src/components/category/CategoryTabs/index.tsx
  src/components/category/index.ts
  src/components/layouts/Category/index.tsx
  src/components/layouts/New/index.tsx
  yarn.lock
Due: eslint . --ext .ts,.tsx, stylelint --ignore-path .gitignore "src/**/*.+(ts|tsx)", prettier --write ., eslint . --ext .ts,.tsx --fix

fix(component): change styles
  src/components/elements/Section/index.tsx
  src/components/global/PageHeader/index.tsx
  src/components/layouts/Home/index.tsx
  src/styles/global.css
Due: eslint . --ext .ts,.tsx, stylelint --ignore-path .gitignore "src/**/*.+(ts|tsx)", prettier --write ., eslint . --ext .ts,.tsx --fix

feat(dark theme): introduce
  src/components/elements/Icon/index.tsx
  src/components/global/Header/index.tsx
  src/components/global/ThemeSelector/index.tsx
  src/components/global/index.ts
  src/components/layouts/Global/index.tsx
Due: eslint . --ext .ts,.tsx, stylelint --ignore-path .gitignore "src/**/*.+(ts|tsx)", prettier --write ., eslint . --ext .ts,.tsx --fix

fix(global): fix background color
  src/components/global/Footer/index.tsx
  src/components/global/Header/index.tsx
  src/styles/global.css
Due: eslint . --ext .ts,.tsx, stylelint --ignore-path .gitignore "src/**/*.+(ts|tsx)", prettier --write ., eslint . --ext .ts,.tsx --fix

fix(header): fix flex layout
  src/components/elements/Icon/index.stories.tsx
  src/components/global/Footer/index.tsx
  src/components/global/Header/index.tsx
Due: eslint . --ext .ts,.tsx, stylelint --ignore-path .gitignore "src/**/*.+(ts|tsx)", prettier --write ., eslint . --ext .ts,.tsx --fix

chore(contents): update dependencies
  src/components/elements/Prose/index.tsx
  src/components/elements/Text/index.tsx
  src/components/global/Footer/index.tsx
  src/components/global/Header/index.tsx
  src/components/layouts/Article/index.tsx
  src/components/layouts/Category/index.tsx
  src/components/layouts/Home/index.tsx
  src/components/layouts/New/index.tsx
  src/styles/global.css
  tailwind.config.js
Due: eslint . --ext .ts,.tsx, stylelint --ignore-path .gitignore "src/**/*.+(ts|tsx)", prettier --write ., eslint . --ext .ts,.tsx --fix

fix(tailwind): fix css variables
  src/components/elements/Text/index.tsx
  src/components/global/Footer/index.tsx
  src/components/global/Header/index.tsx
  src/components/global/ThemeSelector/index.tsx
  src/styles/global.css
  tailwind.config.js
Due: eslint . --ext .ts,.tsx, stylelint --ignore-path .gitignore "src/**/*.+(ts|tsx)", prettier --write ., eslint . --ext .ts,.tsx --fix

feat(prose): add styles of code block
  gatsby-browser.tsx
  gatsby-config.ts
  package.json
  src/components/global/ThemeSelector/index.tsx
  src/styles/global.css
  src/styles/prism.css
  src/types/gatsby-types.d.ts
  tailwind.config.js
  yarn.lock
Due: eslint . --ext .ts,.tsx, stylelint --ignore-path .gitignore "src/**/*.+(ts|tsx)", prettier --write ., eslint . --ext .ts,.tsx --fix

fix(husky): temporarily exclude commitlint due to errors
  .husky/commit-msg
Due: none

refactor(article-page): remove unused prop
  src/templates/Article/index.tsx
Due: eslint . --ext .ts,.tsx, stylelint --ignore-path .gitignore "src/**/*.+(ts|tsx)", prettier --write ., eslint . --ext .ts,.tsx --fix

fix(template): add optional chainning
  src/templates/Category/index.tsx
Due: eslint . --ext .ts,.tsx, stylelint --ignore-path .gitignore "src/**/*.+(ts|tsx)", prettier --write ., eslint . --ext .ts,.tsx --fix

feat(github-actions): add dependabot config
  .github/dependabot.yml
Due: prettier --write .

feat(*): create next app
  .eslintrc.json
  .gitignore
  next.config.js
  package.json
  public/favicon.ico
  public/next.svg
  public/thirteen.svg
  public/vercel.svg
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/api/hello.ts
  src/pages/index.tsx
  src/styles/Home.module.css
  src/styles/globals.css
  tsconfig.json
  yarn.lock
Due: eslint . --ext .ts,.tsx, stylelint --ignore-path .gitignore "src/**/*.+(ts|tsx)", prettier --write ., eslint . --ext .ts,.tsx --fix

feat(tailwind): introduce
  package.json
  postcss.config.js
  src/styles/globals.css
  tailwind.config.js
  yarn.lock
Due: eslint . --ext .ts,.tsx, stylelint --ignore-path .gitignore "src/**/*.+(ts|tsx)", prettier --write ., eslint . --ext .ts,.tsx --fix

chore(tsconfig): remove allowjs
  tsconfig.json
Due: prettier --write .

chore(prettier): introduce
  .prettierrc.json
  package.json
  yarn.lock
Due: prettier --write .

perf(eslint): add config
  .eslintrc.json
  .prettierrc.json
  package.json
  yarn.lock
Due: prettier --write .

style(*): exec lint fix
  src/pages/index.tsx
Due: eslint . --ext .ts,.tsx, stylelint --ignore-path .gitignore "src/**/*.+(ts|tsx)", prettier --write ., eslint . --ext .ts,.tsx --fix

style(*): exec prettier
  .eslintrc.json
  .github/dependabot.yml
  next.config.js
  package.json
  postcss.config.js
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/api/hello.ts
  src/pages/index.tsx
  tailwind.config.js
  yarn.lock
Due: eslint . --ext .ts,.tsx, stylelint --ignore-path .gitignore "src/**/*.+(ts|tsx)", prettier --write ., eslint . --ext .ts,.tsx --fix

perf(lint-staged): introduce
  .husky/pre-commit
  .lintstagedrc.json
  package.json
  yarn.lock
Due: prettier --write .

refactor(css): convert css to scss
  .prettierignore
  package.json
  src/pages/_app.tsx
  src/pages/index.tsx
  src/styles/Home.module.scss
  src/styles/globals.scss
  tsconfig.json
  yarn.lock
Due: eslint . --ext .ts,.tsx, stylelint --ignore-path .gitignore "src/**/*.+(ts|tsx)", prettier --write ., eslint . --ext .ts,.tsx --fix

chore(lintstaged): remove next lint
  .lintstagedrc.json
Due: prettier --write .

chore(idea): change config
  .idea/vcs.xml
Due: none

feat(*): initial commit
  .czrc
  .gitignore
  README.md
  package.json
  yarn.lock
Due: prettier --write .

docs(license): add mit license
  LICENSE
Due: none

feat(eslint): introduce
  .eslintrc.json
  package.json
  yarn.lock
Due: prettier --write .

feat(prettier): introduce
  .prettier.json
  .prettierignore
  package.json
  yarn.lock
Due: prettier --write .

docs(readme): update
  README.md
Due: prettier --write .

feat(next.js): setup
  .gitignore
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/jsLinters/eslint.xml
  .idea/me.iml
  .idea/modules.xml
  .idea/vcs.xml
  .idea/watcherTasks.xml
  next.config.js
  package.json
  postcss.config.js
  public/favicon.ico
  public/next.svg
  public/thirteen.svg
  public/vercel.svg
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/index.tsx
  src/styles/Home.module.scss
  src/styles/globals.scss
  tailwind.config.js
  tsconfig.json
  yarn.lock
Due: eslint . --ext .ts,.tsx, stylelint --ignore-path .gitignore "src/**/*.+(ts|tsx)", prettier --write ., eslint . --ext .ts,.tsx --fix

feat(coming-soon): add new page
  package.json
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/index.tsx
  src/styles/Home.module.scss
  src/styles/globals.scss
  tsconfig.json
  yarn.lock
Due: eslint . --ext .ts,.tsx, stylelint --ignore-path .gitignore "src/**/*.+(ts|tsx)", prettier --write ., eslint . --ext .ts,.tsx --fix

feat(cicd): add some packages
  .commitlintrc.json
  .github/workflows/release.yml
  .husky/commit-message
  .husky/pre-commit
  .lintstagedrc.json
  .releaserc.json
  package.json
  yarn.lock
Due: prettier --write .

fix(semantic-release): update node version
  .github/workflows/release.yml
  .husky/commit-message
  .husky/pre-commit
Due: prettier --write .

fix(semantic-release): test
  .github/workflows/release.yml
  postcss.config.js
  tsconfig.json
Due: eslint . --ext .ts,.tsx, stylelint --ignore-path .gitignore "src/**/*.+(ts|tsx)", prettier --write ., eslint . --ext .ts,.tsx --fix
